/*the app grid is only used to place objects in relation to each other, scaling happens at component level*/
.app{
  display: grid;
  grid-template-columns: fit-content(30vw) 1fr;
  grid-template-rows: 1fr fit-content(20vh);
  grid-template-areas:
    "navigationVertical container"
    "navigationHorizontal navigationHorizontal";
}

.navigationVertical{
  grid-area: navigationVertical;
}

.navigationHorizontal{
  grid-area: navigationHorizontal;
}

.containerBrowser {
  grid-area: container;
  /*creates restricted box with overflow*/
  max-height: 100vh;
  /*max-width: 100vw;*/
  overflow: auto;
  /*padding: auto;*/
  /*centering and resizing of content happens in the child for the sake of modularity*/
}

.containerMobile {
  grid-area: container;
  /*creates restricted box with overflow*/
  max-height: 90vh;
  overflow: auto;
  /*centering and resizing of content happens in the child for the sake of modularity*/
}
